@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'JetBrains Mono', monospace;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.Input-Field {
    display: flex;
    flex-flow: column wrap;
    gap: 1.2rem;
    margin: 2rem;
}
.Submit-Field Button{
    width:12rem;
}
.Chart-Field {
    width: 100%;
    height: 400px;
    /*display: flex;*/
    /*flex-flow: column wrap;*/
    /*gap: 1.2rem;*/
    margin: 2rem 0;
}
.Table-Field {
    margin: 2rem 0 4rem;
}